.carousel-container {
    max-width: 80%; /* Adjust the desired maximum width */
    margin: 0 auto; /* Center the Carousel horizontally */
  }
  
  .carousel-image {
    width: fit-content;
    height: fit-content; /* Adjust the desired height */
    object-fit: cover;
  }
  