.carousel-container {
  max-width: 160%; /* Adjust the desired maximum width */
  margin: 0 auto; /* Center the Carousel horizontally */
}

.carousel-image {
  width: fit-content;
  height: 800px; /* Adjust the desired height */
  object-fit: cover;
}
