.me-2 {
  background-color: bisque;
  float: left;
}

.navbar-left {
  float: left;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-left: 20px;
}

.navbar {
  background-color: white;
  height: 50px;

  position: sticky;
}
.btn {
  background-color: #00367c;
  color: white;
}
.btn:hover {
  background-color: #004aad;
  color: white;
}
.rounded-navbar {
  border-radius: 5px 5px 0 0 !important;
}
